.main {
  height: 100vh;
  padding-top: var(--ifm-navbar-height);
  box-sizing: border-box;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.shell {
  width: 100%;
  height: 100%;
  display: flex;
}

@media (max-width: 996px) {
  .main {
    padding-top: var(--ifm-navbar-height);
  }
}
