:root {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--foreground);
  --docsearch-muted-color: var(--foreground);
}

.DocSearch-Button {
  margin: 0;
  color: var(--docsearch-text-color);
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.DocSearch-Button-Placeholder,
.DocSearch-Search-Icon {
  color: var(--docsearch-text-color);
}

.DocSearch-Container {
  z-index: 2200;
}

.DocSearch-Button-Key {
  padding: 0;
}
